<% layout('/layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center"><%= nickname.name %></h1>
    <div class="col-6 offset-3">
        <ul class="list-group">
            <% for(i = 0; i < nickname.nicknames.length; i++) { %>
                <li class="list-group-item bg-dark text-light border-secondary"><%= nickname.nicknames[i] %></li>
            <% }%>
        </ul>

        <a href="/nicknames/<%= nickname._id %>/addNickname">Add Nickname</a>
        <a href="/nicknames" style="display: block;">Back</a>
        <form action="/nicknames/<%= nickname._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
</div>