<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nickname.name %></title>
</head>
<body>
    <h1><%= nickname.name %></h1>
    <ul>
        <% for(i = 0; i < nickname.nicknames.length; i++) { %>
            <li><%= nickname.nicknames[i] %></li>
        <% }%>
    </ul>

    <a href="/nicknames">Back</a>
</body>
</html>