<% layout('/layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">Nicknames</h1>
    <div class="col-6 offset-3">
        <ul class="list-group">
            <% for(let nickname of nicknames) { %>
                <li class="list-group-item bg-dark border-secondary"><a href="/nicknames/<%= nickname._id %>"><%= nickname.name %></a></li>
            <% }%>
            <li class="list-group-item bg-dark border-secondary text-center"><a href="/nicknames/new">Add New</a></li>
        </ul>
        
    </div>    
</div>