<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Nickname</title>
</head>
<body>
    <h1>Add a Nickname</h1>
    <form action="/nicknames" method="POST">
        <input type="text" name="name" placeholder="Player Name">
        <input type="text" name="nickname" placeholder="Nickname">
        <button>Submit</button>
    </form>
</body>
</html>