<% layout('/layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">New Player Nickname</h1>
    <div class="col-6 offset-3">
        <form action="/nicknames" method="POST">
            <div class="mb-3">
                <input class="form-control" type="text" name="name" placeholder="Player Name" required>
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="nickname" placeholder="Nickname" required>            
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
        <a href="/nicknames">Cancel</a>
    </div>
</div>