@model RobotLegs.Web.Models.Accounts.LoginModel

<div class="row">
    <div class="col-md-7">
        <h5 class="alert alert-info">Login</h5>

        <hr />

        <form method="post" asp-controller="Accounts" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" class="form-control" />
                </div>
            </div>

            <button type="submit">Login</button>
        </form>
        <div class="alert alert-info mt-5">
            <a asp-action="SignUp" asp-controller="Accounts" class="btn">Not a member? Sign up here!</a>
        </div>
        <div class="alert alert-info mt-5">
            <a asp-action="ResetPassword" asp-controller="Accounts" class="btn">Forgotten password?</a>
        </div>
    </div>
</div>